.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;

    justify-content: top;
    align-items: center;
    
    top: 55px;
    left: 0px;
    bottom: 0px;
    width: 73px;

    border-top: transparent;

    background-color: white;
    padding-top: 6px;

    z-index: 2;
}
.sidebar-font {
    font-size: 10px;
    font-family: Roboto;
}
/* .home-icon-button, .explore-icon-button,
 .subscriptions-icon-button, .originals-icon-button,
 .youtube-music-icon-button, .library-icon-button {
    height: 74px;
    width: 100%;
    border: none;
    background-color: white;
    padding: 0px;
    cursor: pointer;
}
 */
.sidebar button {
    height: 74px;
    width: 100%;
    border: none;
    background-color: white;
    padding: 0px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: rgb(226, 226, 226);
}

/* .home-icon-button:hover, .explore-icon-button:hover,
 .subscriptions-icon-button:hover, .originals-icon-button:hover,
 .youtube-music-icon-button:hover, .library-icon-button:hover {
    background-color: rgb(226, 226, 226);
 } */
.home-icon, .explore-icon,
.subscriptions-icon, .originals-icon,
.youtube-music-icon, .library-icon {
    height: 24px;
    width: 24px;
}